// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,100&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html{
    overflow-x: hidden;
}
body{
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif;;
}
//region heights

.height-50{
    height: 50vh;
    min-height: 50vh;
}
//endregion

//region Buttons
.black-btn{
    border: solid 4px black;
    font-size: 1.4rem;
    text-decoration: none;
    background: white;
    color: black;
    text-align: center;
    width:30%;
}

.black-btn:hover{
    background: black;
    color: white;
}
//endregion

//region Margins
.m-top-1{
    margin-top: 1vh;
}

.m-top-3{
    margin-top: 3vh;
}
.m-top-5{
    margin-top: 5vh;
}
.m-top-10{
    margin-top: 10vh;
}

.m-bottom-3{
    margin-bottom: 3vh;
}

.m-bottom-5{
    margin-bottom: 5vh;
}

.m-bottom-20{
    margin-bottom:20vh;
}
//endregion

//region containers
.home-container{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    overflow: hidden;
}

.container-85{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    h2{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.3rem;
        font-weight: normal;
    }

    .text-block{
        margin-top: 6vh;
    }
}

.nav-item:hover{
    text-decoration: underline white;
}

.link-item{
    text-decoration: none;
    padding: 0 !important;
}
.link-item:hover{
    color: white;
}

.dark-container{
    height: 100%;
    width:100%;
    color: white;
    h2{
        font-weight: 400;
    }
    .light-container{
        display: none;
        height: 200px;
        width: 200px;
        position: relative;
        left: 45%;
        .light{
            height: 100%;
            width: 100%;
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 35%);
            border-radius: 50%;
        }
    }
}
.text-container{
    height: 100%;
    width: 100%;
}

.dark-container:hover{
    cursor: pointer;
    .light-container{
        display: block;
    }
}

.hero{
    height: 40vh;
    padding: 0 !important;
    overflow:clip;
    img{
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }
    .hero-title{
        position: relative;
        top: 15vh;
        left:10vw;
        font-size: 2.5rem;
    }
}

.shade-left{
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 17%, rgba(255,255,255,0) 100%);
    position: relative;
    top:-100%;
}

.gear{
    padding: 0 !important;
    overflow:clip;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }
    h2{
        position: absolute;
        bottom:0;
        font-weight: 400;
        color: white;
    }
}

.gear:hover{
    cursor: pointer;
    img{
        transform: scale(1.03);
    }
}
.shade{
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
    position: relative;
    top:-100%;
}

//endregion

